<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Propriedades</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../contratos.css" />

</head>

<body>
<div class="index">
    <!-- Navbar -->
    <div class="sidebar">

        <nav>
            <a href="/index/index.html">
                <button class="botao-sidebar" href="produtor.html">
                        <span>
                            <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5"
                                                                       viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path d="M3 5H21" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                                <path d="M3 12H21" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                                <path d="M3 19H21" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                            <span>Home</span>
                        </span>
                </button>
            </a>
            <a href="/produtores/produtor.html">
                <button class="botao-sidebar" href="produtor.html">
                        <span>
                            <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5"
                                                                       viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path
                                        d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path
                                        d="M4.271 18.3457C4.271 18.3457 6.50002 15.5 12 15.5C17.5 15.5 19.7291 18.3457 19.7291 18.3457"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path
                                        d="M12 12C13.6569 12 15 10.6569 15 9C15 7.34315 13.6569 6 12 6C10.3431 6 9 7.34315 9 9C9 10.6569 10.3431 12 12 12Z"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                            <span>Produtor</span>
                        </span>
                </button>
            </a>
            <a href="/propriedades/propriedade.html">
                <button class="botao-sidebar">
                        <span>
                            <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" viewBox="0 0 24 24"
                                                                       stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path d="M2 8L11.7317 3.13416C11.9006 3.04971 12.0994 3.0497 12.2683 3.13416L22 8"
                                      stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M20 11V19C20 20.1046 19.1046 21 18 21H6C4.89543 21 4 20.1046 4 19V11"
                                      stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                            <span>Propriedade</span>
                        </span>
                </button>
            </a>
            <a href="/cursos/curso.html">
                <button class="botao-sidebar">
                        <span>
                            <?xml version="1.0" encoding="UTF-8"?><svg width="24px" stroke-width="1.5" height="24px"
                                                                       viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path d="M4 19V5C4 3.89543 4.89543 3 6 3H19.4C19.7314 3 20 3.26863 20 3.6V16.7143"
                                      stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M6 17L20 17" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M6 21L20 21" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M6 21C4.89543 21 4 20.1046 4 19C4 17.8954 4.89543 17 6 17" stroke="#000000"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M9 7L15 7" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                            <span>Curso</span>
                        </span>
                </button>
            </a>
            <a href="/tecnologias/tecnologia.html">
                <button class="botao-sidebar">
                        <span>
                            <?xml version="1.0" encoding="UTF-8"?><svg width="24px" stroke-width="1.5" height="24px"
                                                                       viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path d="M4 19V5C4 3.89543 4.89543 3 6 3H19.4C19.7314 3 20 3.26863 20 3.6V16.7143"
                                      stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M6 17L20 17" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M6 21L20 21" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M6 21C4.89543 21 4 20.1046 4 19C4 17.8954 4.89543 17 6 17" stroke="#000000"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M9 7L15 7" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                            <span>tecnologias</span>
                        </span>
                </button>
            </a>
            <a href="/contratos">
                <button class="botao-sidebar">
                        <span>
                            <?xml version="1.0" encoding="UTF-8"?><svg width="24px" stroke-width="1.5" height="24px"
                                                                       viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path d="M4 19V5C4 3.89543 4.89543 3 6 3H19.4C19.7314 3 20 3.26863 20 3.6V16.7143"
                                      stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M6 17L20 17" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M6 21L20 21" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M6 21C4.89543 21 4 20.1046 4 19C4 17.8954 4.89543 17 6 17" stroke="#000000"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M9 7L15 7" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                            <span>Contratos</span>
                        </span>
                </button>
            </a>
            <a href="/fornecedores">
                <button class="botao-sidebar" href="produtor.html">
                        <span>
                            <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5"
                                                                       viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path
                                        d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path
                                        d="M4.271 18.3457C4.271 18.3457 6.50002 15.5 12 15.5C17.5 15.5 19.7291 18.3457 19.7291 18.3457"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path
                                        d="M12 12C13.6569 12 15 10.6569 15 9C15 7.34315 13.6569 6 12 6C10.3431 6 9 7.34315 9 9C9 10.6569 10.3431 12 12 12Z"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                            <span>Fornecedor</span>
                        </span>
                </button>
            </a>
        </nav>
    </div>
    <div class="w-100">
        <!-- conteudo fornecedores -->

        <div class="superior">
            <header class="sidebar-header">
                <?xml version="1.0" encoding="UTF-8"?><svg width="30px" height="30px" stroke-width="1.5"
                                                           viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ffffff">
                <path
                        d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z"
                        stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                        d="M4.271 18.3457C4.271 18.3457 6.50002 15.5 12 15.5C17.5 15.5 19.7291 18.3457 19.7291 18.3457"
                        stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                        d="M12 12C13.6569 12 15 10.6569 15 9C15 7.34315 13.6569 6 12 6C10.3431 6 9 7.34315 9 9C9 10.6569 10.3431 12 12 12Z"
                        stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
                <span>Olá usuario!</span>
            </header>
        </div>


        <!-- Informaçoes do produtor -->
        <div class="conteudo-index p-3" style="overflow-y: auto;">
            <div class="border border-black  w-100 " style="border-radius: 55px">
                <div class="d-flex justify-content-center p-2">
                    <h1 th:text="${propriedade.nomePropriedade}" class=""></h1>
                </div>
                <div class="w-100 " style="padding: 48px;">
                    <div class="row ">
                        <div class="col-md-5  ">
                            <h1>Sobre Propriedade:</h1>
                            <p class="m-0">Nome do Produtor: <span th:text="${propriedade.nomeProdutor}" ></span></p>
                            <p class="m-0">Email: <span th:text="${propriedade.email}" class="m-0"></span></p>
                            <p class="m-0">Cpf: <span th:text="${propriedade.CPF}" class="m-0"></span></p>
                            <p class="m-0">Cnpj: <span th:text="${propriedade.CNPJ}" class="m-0"></span></p>
                            <p class="m-0">Telefone: <span th:text="${propriedade.telefone}" class="m-0"></span></p>
                            <p class="m-0">Celular: <span th:text="${propriedade.celular}" class="m-0"></span></p>
                            <p class="m-0">Selo de identificação</p>
                        </div>
                        <!-- Mapa -->
                        <div class="col-md-7 d-flex align-items-center justify-content-center">
                            <img src="
                                https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/2024/02/google-maps-e1707316052388.png?w=1220&h=674&crop=1"
                                 alt="" class="" style="max-height: 300px; width:auto">
                        </div>
                    </div>
                    <div class="d-flex-row mt-5 justify-items-start">
                        <h1>Endereço</h1>
                        <p class="m-0">Logadouro: <span th:text="${propriedade.UF}" class="m-0"></span></p>
                        <p class="m-0">Nome da Rua: <span th:text="${propriedade.rua}" class="m-0"></span></p>
                        <p class="m-0">Bairro: <span th:text="${propriedade.bairro}" class="m-0"></span></p>
                        <p class="m-0">Numero: <span th:text="${propriedade.UF}" class="m-0"></span></p>
                        <p class="m-0">Cidade: <span th:text="${propriedade.cidade}" class="m-0"></span></p>
                        <p class="m-0">UF:PR: <span th:text="${propriedade.UF}" class="m-0"></span></p>
                    </div>
                </div>
                <div class="border border-black ms-5 me-5 p-2" id="chart"
                     style="border-radius: 10px; height: 250px; ">
                    <!-- div da tabela de leites -->
                </div>




                <!-- Amostras -->
                <div class="d-flex flex-column border border-black ms-5 me-5 mt-5"
                     style="border-radius: 10px; height: 500px; ">
                    <div style="border-bottom: 1px solid black;">
                        <h1 class="text-center">Amostras</h1>
                    </div>
                    <div class="d-flex flex-wrap flex-grow-1 gap-3 p-2" style="overflow-y: auto;">
                        <!-- Conteúdo dos cards aqui -->
                        <div class="card text-center text-secondary d-flex justify-content-center align-items-center"
                             style="border: 1px solid; height: 100px; width: 200px;">
                            <h1>Amostra 1</h1>
                        </div>
                        <div class="card text-center text-secondary d-flex justify-content-center align-items-center"
                             style="border: 1px solid; height: 100px; width: 200px;">
                            <h1>Amostra 2</h1>
                        </div>
                        <!-- Adicione mais cards conforme necessário -->
                    </div>
                    <div class="d-flex justify-content-center align-items-end p-2"
                         style="border-top: 1px solid black;">
                        <button class="btn btn-secondary" data-bs-toggle="modal"
                                data-bs-target="#amostraModal">Adicionar</button>
                    </div>
                </div>




                <!-- Tabelas Cursos e tecnologia -->
                <div class="ms-5 me-5 mt-5 d-flex">
                    <div class="w-100 me-5" style="border-radius: 10px;">
                        <div class="d-flex justify-content-between p-2">
                            <h1>Cursos</h1>
                            <button data-bs-toggle="modal" data-bs-target="#tecModal"
                                    class="btn btn-secondary m-2">Adcionar</button>
                        </div>

                        <div class="border border-black w-100 p-2" style="height: 350px; border-radius: 10px;">

                            <!-- Conteudo data table de curso -->
                        </div>
                    </div>
                    <div class="w-100 ms-5" style="border-radius: 10px;">
                        <div class="d-flex justify-content-between p-2">
                            <h1>Tecnologias</h1>
                            <button data-bs-toggle="modal" data-bs-target="#cursoModal"
                                    class="btn btn-secondary m-2">Adcionar</button>
                        </div>
                        <div class="border border-black w-100" style="height: 350px; border-radius: 10px;">
                            <!-- Conteudo data table de Tecnologias -->

                        </div>
                    </div>
                </div>


                <!-- Fornecedores da propriedade -->
                <div class="d-flex flex-column border border-black m-5" style="border-radius: 10px; height: 600px;">
                    <div class="text-center">
                        <h1>Fornecedores</h1>
                    </div>
                    <div class="mt-auto mb-2 d-flex justify-content-center">
                        <button data-bs-toggle="modal" data-bs-target="#fornecedoresModal"
                                class="btn btn-success">Adicionar</button>
                    </div>
                </div>

            </div>
        </div>




        <!-- Modal amostras -->
        <div class="modal fade" id="amostraModal" tabindex="-1" aria-labelledby="amostraModal
                    aria-hidden=" true>
            <div class="modal-dialog modal-fullscreen modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="amostraModal">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Cursos -->
        <div class="modal fade" id="cursoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h1>Modal de tecnologias</h1>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal tecnologias -->
        <div class="modal fade" id="tecModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h1>Modal de curso</h1>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal fornecedores da propriedade -->
        <div class="modal fade" id="fornecedoresModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h1>Modal de Fornecedores</h1>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>




        <!-- Include jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Include DataTables JS -->
        <script type="text/javascript" charset="utf8"
                src="//cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#usuarioTable').DataTable();
            });
            new DataTable('#usuarioTable');
        </script>
        <!-- importando script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

        <!-- Script para -->
        <script>
            $(document).ready(function () {

                $('#myTable').DataTable();
            });
            new DataTable('#myTable', {
                paging: false,
                scrollCollapse: true,
                scrollY: '245px'

            });
        </script>


        <!-- Script para tabela de leites -->
        <script>
            var options = {
                series: [{
                    name: 'Leite',
                    data: [10, 5, 3, 2, 3, 5, 10, 12, 15, 23, 50, 100]
                }],
                chart: {
                    height: 350,
                    type: 'bar',
                },
                plotOptions: {
                    bar: {
                        borderRadius: 10,
                        dataLabels: {
                            position: 'top', // top, center, bottom
                        },
                    }
                },
                dataLabels: {
                    enabled: true,
                    formatter: function (val) {
                        return val + "L";
                    },
                    offsetY: -20,
                    style: {
                        fontSize: '12px',
                        colors: ["#304758"]
                    }
                },

                xaxis: {
                    categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    position: 'top',
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false
                    },
                    crosshairs: {
                        fill: {
                            type: 'gradient',
                            gradient: {
                                colorFrom: '#D8E3F0',
                                colorTo: '#BED1E6',
                                stops: [0, 100],
                                opacityFrom: 0.4,
                                opacityTo: 0.5,
                            }
                        }
                    },
                    tooltip: {
                        enabled: true,
                    }
                },
                yaxis: {
                    axisBorder: {
                        show: false
                    },
                    axisTicks: {
                        show: false,
                    },
                    labels: {
                        show: false,
                        formatter: function (val) {
                            return val + "%";
                        }
                    }

                },
                title: {
                    text: 'Produção mensal de leite',
                    floating: true,
                    offsetY: 330,
                    align: 'center',
                    style: {
                        color: '#444'
                    }
                }
            };

            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();
        </script>

</body>

</html>